<form method="post" action="/edit">
    <input type="text" name="data" value="<%=Data%>" />
    <input type="hidden" name="id" value="<%=id%>" />
    <button type="submit" name="Update">UPDATE</button>
</form>