<form method="post" action="/login">
    <input type="email" name="email" placeholder="Enter your email...">
    <input type="password" name="password" placeholder="Enter password">
    <button type="submit" value="login">Login</button>
   
</form>