<form method="post" action="/addpage" enctype="multipart/form-data">
    <input type="text" name="title" >
    <input type="text" name="content">
    <input type="file" name="addfile"><br>
    <input type="submit" value="add"> 
</form>