<h1>User Login</h1>
<form action="/login" method="post">
    <div>
        <input type="email" name="username" placeholder="enter username"><br>
        <input type="password" name="password"><br>
        <input type="submit" value="Login" />
    </div>
</form>