<form method="post" action="/edit" enctype="multipart/form-data">
    <input type="text" name="title" value="<%=data.title%>" >
    <input type="text" name="content" value="<%=data.content%>">
    <input type="file" name="editfile">
    <input type="hidden" value="<%=data.id%>" name="id"><br>
    <input type="submit" value="edit"> 
</form>